
body{
  font-family: Helvetica, sans-serif;
}
.left{
  float: left;
  width: 30%;
  padding-left: 19%;
  padding-right: 1%;
  padding-top: 3%;

}
.right{
  float: right;
  width: 30%;
  padding-right: 19%;
  padding-left: 1%;
  padding-top: 3%;
}

.form{
  width: 100%;
  border: solid 1px black;
  margin: auto;
  text-align: center;

}

button{
  background-color: rgb(56,151,240);
  font-weight: bold;
  color: white;
  width: 80%;
  border-radius: 3px;
  border-style: solid;
  padding: 0px 12px 0px 12px;
  border-width: 1px;
  font-size: 14px;
  text-overflow: ellipsis;


}

.icon{
  padding-top: 5%;
  width: 60%;
  margin: 0 auto;

}

.apple{
  float: left;
  width: 45%;
  padding-left: 3%;
}
 .google{
  float: right;
  width: 45%;
  padding-right: 3%;

}
.signmes{
  opacity: .5;
  font-weight: 600;
  font-size: 17px;
  color: rgba(153, 153,153);
  font-size: 17px;

}
input{
  width: 80%;
  opacity: .5;
  font-weight: bold;
}
.terms{
  opacity: .5;
}
.account{
  border: solid 1px black;
  text-align: center;
  width: 100%;
  margin-top: 3%;
}
.getapp{
  text-align: center;
}
.foot{
  float: none;
  clear: both;
  width: 100%;
  text-align: center;
  padding-top: 5%;

}

.foot a{
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-family: sans-serif ;
}
hr{

  display: inline-block;
  width: 40%;
}
