
.left{
  float: left;
  width: 40%;
  padding-left: 5%;
  padding-top: 5;
  padding-right: 0;
  background-color: green;
  margin: 0;
}
.right{
  float: right;
  padding-top: 5%;
  padding-right: 5%;
  padding-left: 0;
  width: 40%;
  background-color: green;
  margin: 0;
  /* overflow: auto; */
}

.form{
  width: 100%;
  border: solid 1px black;
  margin: auto;
  text-align: center;

}

button{
  background-color: blue;
  font-weight: bold;
  color: white;
}

.icon{
  padding-top: 5%;
  width: 60%;
  margin: 0 auto;

}


.apple{
  float: left;
  width: 45%;
  padding-left: 3%;
}
 .google{
  float: right;
  width: 45%;
  padding-right: 3%;

}
